### Pandas Ungraded Lab - Bridge Data

Last updated: Jan 14, 2022

**INSTRUCTIONS**  
Follow the instructons below to answer the questions.

In [1]:
import pandas as pd

Import the bridges dataset from UCI

In [2]:
data_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/bridges/bridges.data.version1'

Read in the dataset (checking if there is header data or not; you'll need to control for that)

In [3]:
df = pd.read_csv(data_path,header=None)
df

       0  1   2     3         4     5  6  7        8      9       10 11    12
0      E1  M   3  1818   HIGHWAY     ?  2  N  THROUGH   WOOD   SHORT  S  WOOD
1      E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH   WOOD   SHORT  S  WOOD
2      E3  A  39  1829  AQUEDUCT     ?  1  N  THROUGH   WOOD       ?  S  WOOD
3      E5  A  29  1837   HIGHWAY  1000  2  N  THROUGH   WOOD   SHORT  S  WOOD
4      E6  M  23  1838   HIGHWAY     ?  2  N  THROUGH   WOOD       ?  S  WOOD
..    ... ..  ..   ...       ...   ... .. ..      ...    ...     ... ..   ...
103   E84  A  24  1969   HIGHWAY   870  6  G  THROUGH  STEEL  MEDIUM  F  ARCH
104   E91  O  44  1975   HIGHWAY  3756  6  G  THROUGH  STEEL    LONG  F  ARCH
105   E90  M   7  1978   HIGHWAY   950  6  G  THROUGH  STEEL    LONG  F  ARCH
106  E100  O  43  1982   HIGHWAY     ?  ?  G        ?      ?       ?  F     ?
107  E109  A  28  1986   HIGHWAY     ?  ?  G        ?      ?       ?  F     ?

[108 rows x 13 columns]

1) df[4] contains PURPOSE  
Print the count of each level of PURPOSE

In [4]:
df[4].value_counts()

HIGHWAY     71
RR          32
AQUEDUCT     4
WALK         1
Name: 4, dtype: int64

2) Build dummy variables out of PURPOSE, including prefix *purp*.  
Append the dummies to the dataframe, and drop the PURPOSE field.  
Print the first 3 rows to check things look correct.  
The dummy variables should contain binary values.

In [5]:
purpose = pd.get_dummies(df[4], drop_first=True, prefix='purp')
purpose.head(3)

   purp_HIGHWAY  purp_RR  purp_WALK
0             1        0          0
1             1        0          0
2             0        0          0

3) Sort the data by df[1] and then df[2]. Print some rows to verify things look correct.  
Hint: Generally you will pass a list of strings for sorting, but here you will pass a list of integers since fields are integer type.

In [6]:
df1 = df.sort_values(by=[1,2])
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
21,E22,A,24,1876,HIGHWAY,1200,4,G,THROUGH,WOOD,SHORT,S,WOOD
66,E60,A,24,1915,HIGHWAY,1000,4,G,THROUGH,STEEL,LONG,F,SIMPLE-T
103,E84,A,24,1969,HIGHWAY,870,6,G,THROUGH,STEEL,MEDIUM,F,ARCH
1,E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
14,E16,A,25,1859,HIGHWAY,1030,2,N,THROUGH,IRON,MEDIUM,S-F,SUSPEN